html {
    position: relative;
}
body {
    margin: 0%;
    padding: 0%;
    color: #484848;
    font-family: Circular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    min-height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}